@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.title {
color : black;
text-shadow: 0px 0px 5px white;
text-align: center;
font-size: 1.5em;
font-family: "Oswald", sans-serif;

background-color: grey;
border: 7px solid silver;
border-radius: 25px;
}

#femboy {
    width: 250px;
}

.anchor {
    background-color: aquamarine;

    height: 100px;
    width: 20px;
    padding: 3px 2px 5px 2px;
    border: 1px solid black;
    margin-left: 50px;
}

button{
    background-color: blue;
    transition: 0.3s ease all;
}

button:active{
    background-color: red;
    transition: 0.3s ease all;
    transform: translateY(-3px);
}

body {
    background-image: url("https://i.imgur.com/c7D4RhD.jpeg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}